# NetBeans / Java Web
nbproject/private/
build/
dist/
nbbuild/
*.class
*.log
*.war
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Maven / Gradle
target/
out/

# Tạm, tải lên
# Bỏ qua lib ở thư mục gốc, nhưng không bỏ qua WEB-INF/lib
/lib/
!/web/WEB-INF/lib/

uploads/
